@media (max-width: 614px) {
  .bar-top{
    display: none;
  }
  .icons{
    justify-content: end;
  }
  .bar-top-mobile{
    width: 100vw;
  }
  .main-page{
    margin-top: 54px;
  }
  .stories{
    background: none;
    margin-bottom: 0;
    width: 100vw;
  }
  .stories ion-icon{
    display: none;
  }
  .posts{
    width: 100vw;
  }
  .post{
    width: 100vw;
    height: calc(100vw + 135px);
  }
  .video{
    height: calc((100vw / 1.33) + 135px);
  }
  .post-bar-top{
    width: calc(100vw - 34px);
  }
  .post-image{
    width: 100vw;
    height: 100vw;
  }
  .post video{
    width: 100vw;
    height: calc(100vw / 1.33);
  }
  .post-bar-bottom{
    width: calc(100vw - 34px);
  }
  .bar-bottom{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
  }
}