@media (max-width: 614px) {
  .bar-top{
    display: none;
  }
  .icons{
    justify-content: end;
  }
  .bar-top-mobile{
    width: 100vw;
  }
  .main-page{
    margin-top: 54px;
  }
  .stories{
    background: none;
    margin-bottom: 0;
    width: 100vw;
  }
  .stories ion-icon{
    display: none;
  }
  .posts{
    width: 100vw;
  }
  .bar-bottom{
    display: flex;
    width: 100vw;
  }
}