@media (max-width: 935px) {
    .container {
      display: block;
    }
    .menu {
      height: 100px;
      width: 100%; /* Somente em telas menores que 600px, a largura passará a ser 100% em vez de 900px */
    }
}